h1{
    color:whitesmoke;
}
.header{
    background-color: rgb(255, 0, 179);
    display:flex;
    justify-content: space-between;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;

}
.footer{
    display:flex;
    justify-content: flex-end;
}
p,h2{
    text-align: center;
}